<nav class="navbar navbar-expand d-flex flex-column align-item-end" id="sidebar">
    <div class="container-img"><img class="img-symbol" src="../../../assets/icons/2hsPNG.png" alt=""></div>
    <ul class="navbar-nav d-flex flex-column mt-5 w-100">
        <div class="b-example-divider"></div>
        <li class="nav-item w-100">
            <a [routerLink]="['products/hombre']" class="nav-link text-secondary pl-4 p-2"><i class="fa-solid fa-person fs-4"></i> Hombres</a>
        </li>
        <li class="nav-item w-100">
            <a [routerLink]="['products/mujer']" class="nav-link text-secondary pl-4 p-2"><i class="fa-solid fa-person-dress fs-4"></i>
                Mujeres</a>
        </li>
        <li class="nav-item w-100">
            <a [routerLink]="['products/unisex']" class="nav-link text-secondary pl-4 p-2"><i class="fa-solid fa-people-group fs-4"></i>
                Unisex</a>
        </li>
        <li class="nav-item w-100">
            <a href="#" class="nav-link text-secondary pl-4 p-2"><i class="fa-solid fa-circle-info fs-4"></i> About
                Us</a>
        </li>
        <li class="nav-item dropdown w-100">
            <a href="#" class="nav-link dropdown-toggle text-secondary pl-4 p-2" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-heart fs-4"></i> WeAre2Hs</a>
            <ul class="dropdown-menu w-100" aria-controls="navbarDropdown" aria-labelledby="navbarDropdown">
                <li><a href="#" class="dropdown-item text-secondary pl-4 p-2"><i class="fa-solid fa-comments fs-4"></i>
                        Foros</a></li>
                <li><a [routerLink]="['clips']" class="dropdown-item text-secondary pl-4 p-2"><i
                            class="fa-solid fa-clapperboard fs-4"></i> Clips</a></li>
                <div class="dropdown-divider"></div>
                <li class="nav-item w-100">
                    <a [routerLink]="['multimedia']" class="nav-link text-secondary pl-4 p-2"
                        id="secondDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><i class="fa-solid fa-icons fs-4"></i>
                        Multimedia</a>
                </li>
            </ul>
        </li>
        <div class="b-example-divider"></div>
        <li class="nav-item dropdown w-100">
            <a href="#" class="nav-link dropdown-toggle text-secondary pl-4 p-2" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user fs-4"></i> Perfil</a>
            <ul class="dropdown-menu w-100" aria-controls="navbarDropdown" aria-labelledby="navbarDropdown">
                <li><a [routerLink]="['/login']" class="dropdown-item text-secondary pl-4 p-2" [hidden]="auth.loggedIn"><i
                            class="fa-solid fa-right-to-bracket fs-4"></i> Iniciar Sesión</a></li>
                <li><a href="#" class="dropdown-item text-secondary pl-4 p-2"><i class="fa-solid fa-user-gear fs-4"></i>
                        Configuración</a></li>
                <div class="dropdown-divider"></div>
                <li><a (click)="logOut()" href="#" class="dropdown-item text-secondary pl-4 p-2" role="button" [hidden]="!auth.loggedIn"><i
                            class="fa-solid fa-right-from-bracket fs-4"></i> Cerrar Sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>