<div class="container animated fadeInRight">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/products-images/mujer/IMG_7292.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Be different - $69.000</h5>
            </div>
            <div class="card-footer text-end">
              <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
              <button class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/products-images/mujer/IMG_7486.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Long Beach - $79.000</h5>
            </div>
            <div class="card-footer text-end">
              <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
              <button class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/products-images/mujer/IMG_7505.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hova - $79.000</h5>
            </div>
            <div class="card-footer text-end">
              <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
              <button class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/products-images/mujer/IMG_7582.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tupac - $79.000</h5>
            </div>
            <div class="card-footer text-end">
              <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
              <button class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
</div>
