
.img-sizing {
    width: 100px;
    height: auto;
}

.content {
    display: flex;
    align-items: center;
}

.flex-colums {
    flex-direction: column;
    justify-content: end;
}

.btn {
    margin: 4px;
}

a {
    margin-left: 6px;
}

.row>* {
    padding: 0;
}

.list-group-item {
    /* padding: 1; */
}




.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}