<div class="container animated fadeInLeft">
    <img class="logo-podcast" src="../../../assets/icons/2hspodcast.png" alt="">
</div>
<div class="container animated fadeInRight">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="../../../assets/icons/Dre_Miniatura_chusma.png" alt="">
                <audio controls src="../../../assets/audio/Primer_episodio.mp3" type="audio/mp3"></audio>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/icons/Miniatura_episodio_dos.png" alt="">
                <audio controls src="../../../assets/audio/Segundo_episodio.mp3" type="audio/mp3"></audio>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/icons/Super_Bowl_Miniatura.png" alt="">
                <audio controls src="../../../assets/audio/Tercer_episodio.mp3" type="audio/mp3"></audio>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/icons/Mejores_Albumes_Miniatura_Little_Simz.png" alt="">
                <audio controls src="../../../assets/audio/Cuarto_episodio.mp3" type="audio/mp3"></audio>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/icons/G-Funk_miniatura.png" alt="">
                <audio controls src="../../../assets/audio/Quinto_episodio.mp3" type="audio/mp3"></audio>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/icons/BODR_Miniatura.png" alt="">
                <audio controls src="../../../assets/audio/Sexto_episodio.mp3" type="audio/mp3"></audio>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/icons/DMX_Miniatura.png" alt="">
                <audio controls src="../../../assets/audio/Septimo_episodio.mp3" type="audio/mp3"></audio>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/icons/SING_ABOUT_ME.png" alt="">
                <audio controls src="../../../assets/audio/Octavo_episodio.mp3" type="audio/mp3"></audio>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/icons/zulu.png" alt="">
                <audio controls src="../../../assets/audio/Noveno_episodio.mp3" type="audio/mp3"></audio>
            </div>
        </div>
    </div>
</div>