<div class="container animated fadeInRight">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let product of products" class="col">
            <div class="card h-100" >
                <a href="products/confirmar-hombre/{{product.id}}"><img  src="{{product.image}}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="products/confirmar-hombre/:id"><h5 class="card-title">{{product.name}}</h5></a>
                    <h5 class="card-subtitle">${{product.price}}</h5>
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
                    <button routerLink="" class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
        <!-- <div class="col">
            <div class="card h-100">
                <img src="../../../assets/products-images/hombre/IMG_7406.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Juicy - $79.000</h5>
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
                    <button class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/products-images/hombre/IMG_7529.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tupac - $79.000</h5>
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
                    <button class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/products-images/hombre/IMG_7556.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hova - $79.000</h5>
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
                    <button class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
            </div>
        </div> -->
    </div>
</div>
