<nav class="navbar navbar-expand-lg navbar-dark navbar-inverse bg-dark">
    <div style="z-index: 10;">
        <div class="navbar-brand">
            <app-sidebar></app-sidebar>
            <i (click)="toggle()" class="fa-solid fa-bars fs-3 puntero ml-1"></i>
        </div>
    </div>
    <div class="ms-auto">
        <a [routerLink]="'home'"><img src="../../../assets/icons/2hsPNG.png" class="img-symbol puntero" alt=""></a>
    </div>
    <div class="navbar-nav ms-auto">
        <i *ngIf="!auth.loggedIn" class="fa-solid fa-user fs-4" style="color: #fff;"></i>
        <img *ngIf="auth.loggedIn == true" class="border-img" src="{{auth.photo}}" alt="">
        <!-- <i class="fa-solid fa-cart-shopping ms-3 fs-4" role="button" data-toggle="modal" data-target="#Modal2" style="color: #fff;"></i> -->
        <i role="button" class="fa-solid fa-cart-shopping ms-3 fs-4" (click)="openModal()" style="color: #fff;"></i>
    </div>
</nav>

