<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-5 d-flex align-items-center">
            <img src="../../../../assets/icons/2hsPNG.png" class="img-symbol" alt="">
            <span>&copy;Copyright-2022 2Hs all rights reserved</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li>
                <a href="/" style="color: darkgray;"><i class="bi bi-instagram" aria-hidden="true" style="font-size: 2rem;"></i></a>
            </li>
            <li>
                <a href="/" style="color: darkgray;"><i class="bi bi-facebook ms-3" aria-hidden="true" style="font-size: 2rem;"></i></a>
            </li>
        </ul>
    </footer>
</div>