<div class="container animated fadeInRight">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/products-images/IMG_7288.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Long Beach & Hova</h5>
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
                    <button class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../../assets/products-images/IMG_7334.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Juicy & Be different</h5>
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>
                    <button class="btn btn-outline-success ms-3"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>