<div class="container animated fadeInRight">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <video src="../../../assets/products-images/clip1.mp4" class="card-img-top" alt="..." controls></video>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <video src="../../../assets/products-images/clip2.mp4" class="card-img-top" alt="..." controls></video>
            </div>
        </div>
    </div>
</div>