<div class="container animated fadeInRight">
    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div *ngFor="let info of infoCards" class="col">
            <div class="card h-300" >
                <img routerLink="products/unisex" [src]="info.img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{info.title}}</h5>
                    <a [routerLink]="info.route" class="btn btn-primary">Acceder</a>
                </div>
            </div>
        </div>
       
    </div>
</div>
